:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
@font-face {
    font-family: "Outfit";
    src: url(https://fonts.google.com/specimen/Outfit);
}
body{
    font-family: "Outfit";
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px 20px;
    background: var(--Grayish-blue);
}
a{
    color: blue;
}
.title{
    color: var(--Dark-blue);
    margin: 5px 0;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
}
p{
    text-align: center;
    color: var(--Grayish-blue);
    font-size: 19px;
}
img{
    border-radius: 30px;
    margin: 0 0 10px 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 580px;
    width: 350px;
    border-radius: 30px;
    background-color: white;
}
.attribution{
    position: absolute;
    text-align: center;
    bottom: 15px;
}